# Virtual Environment
env/
venv/
.venv/

# Node Modules (React)
node_modules/

# Sensitive Data & Local Settings
.env
.env.local

# Python Cache & Database
__pycache__/
*.pyc
db.sqlite3

# IDE / Editor Folders
.vscode/
.idea/